<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head th:replace="~{base::head}">
</head>
<body layout:fragment="content">
    <p style="display: none" id="username" th:text="${username}"></p>
    <h1>Dados do usuário</h1>
    <table id="userDataTable">
        <thead><tr>
            <th>ID</th>
            <th>Dado Criptografado</th>
            <th></th>
        </tr></thead>

        <tbody></tbody>
    </table>
<script src="/js/profile.js"></script>
</body>
</html>