<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head th:replace="~{base::head}"></head>
<body layout:fragment="content">
<h1>Status da Conta</h1>
<div th:if="${successMessage != null}">
    <p th:text="${successMessage}" style="color:green;"></p>
</div>
<div th:if="${errorMessage != null}">
    <p th:text="${errorMessage}" style="color:red;"></p>
</div>
<a href="/login">Voltar</a>
</body>
</html>